<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET PERMISSION -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sri Raja Hotel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rajahotel">

        <!-- MAIN ACTIVITIES -->

        <activity
            android:name=".NonVegMenuActivity"
            android:exported="false" />

        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <activity
            android:name=".VegMenuActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ADMIN PANEL ACTIVITIES -->

        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ManageMenuActivity"
            android:exported="false" />

        <activity
            android:name=".AddEditMenuItemActivity"
            android:exported="false" />

        <activity
            android:name=".ViewOrdersActivity"
            android:exported="false" />

        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ManageCateringActivity"
            android:exported="false" />

        <activity
            android:name=".CateringBookingActivity"
            android:exported="false" />

        <activity
            android:name=".CateringConfirmationActivity"
            android:exported="false" />

        <activity
            android:name=".MyCateringBookingsActivity"
            android:exported="false" />

        <activity
            android:name=".ViewCustomersActivity"
            android:exported="false" />

        <!-- SPLASH SCREEN -->

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>