<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sri Raja Hotel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rajahotel">
        <activity
            android:name=".NonVegMenuActivity"
            android:exported="false" />
        <!-- Cart -->
        <activity
            android:name=".CartActivity"
            android:exported="false" /> <!-- Veg Menu -->
        <activity
            android:name=".VegMenuActivity"
            android:exported="false" /> <!-- Auth -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" /> <!-- Main -->
        <activity android:name=".MainActivity" /> <!-- Splash (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>